In [1]:
from random import randint

# Variable
une variable est un nom qui renvoie à une case mémoire. Elle permet de stocker des valeurs de différents types:
* entier (type int en python)
* reel (type float)
* booleen (type bool)
* liste (type list)
* chaine de caractères (type str)


On stocke une valeur dans une variable avec le caractère **=** et on appelle cette valeur en utilisant le nom de la variable

In [2]:
#Stockage de l'entier 3 dans une variable de nom "entier"
entier = 3

#utilisation de cette valeur
print(5*entier)

15

 On peut changer la valeur contenue dans une variable mais la valeur précédente est alors perdue

In [3]:
entier = 3
print(entier)

entier = 5
print(entier)

3
5

On peut utiliser la valeur d'une variable pour définir sa nouvelle valeur.

In [4]:
entier = 2
print(entier)
entier = entier + 1
print(entier)

2
3

Ici, le **entier** **à gauche du =** est différent de celui **à droite du =**. Python va d'abord lire la valeur de **entier** à droite du égal, exécuter le calcul puis affecter le résultat à la variable **entier**. Ainsi, le entier à droite est la valeur précédente, le entier à gauche est la nouvelle valeur.

## <span style="color: #00AA00">Exercice 1:</span>
Le programme ci-dessous affecte une valeur aléatoire à une variable **val1** et une valeur demandée à l'utilisateur à une variable **val2**. Compléter le programme afin d'inverser les valeurs des deux variables.

In [5]:
val1 = randint(0, 9)
val2 = int(input("Donner une valeur entre 0 et 9: "))
print(val1, val2)

#à completer

print(val1, val2)

Donner une valeur entre 0 et 9: 2
1 2
1 2

Voici quelques exemples des différents types de données que l'on utilisera:

## Type int

In [6]:
entier = 3
type(entier)

int

In [18]:
#exemples d'opérations:
print(4 + 3)
print(7 - 9)
print(3 * 2)
print(2 ** 4)
print(9 // 2)
print(9 % 2)

7
-2
6
16
4
1

## <span style="color: #00AA00">Exercice 2:</span>
Modifier les lignes ci-dessus afin de déterminer ce que font les différents opérateurs présentés

## Type float

In [7]:
reel = 3.14159
type(reel)

float

In [19]:
#exemples d'opérations:
print(4.1 + 3.2)
print(7.3 - 9.2)
print(3.1 * 2.5)
print(2.1 ** 4)
print(9.2 / 2.0)

7.3
-1.8999999999999995
7.75
19.448100000000004
4.6

Les float sont stockés de manière approchée en mémoire, il faudra garder cela en mémoire lorsqu'on les utilise:

In [21]:
3 * 0.1 - 0.3

5.551115123125783e-17

## <span style="color: #00AA00">Exercice 3:</span>
Déterminer l'ordre de priorité des opérateurs en complétant les quelques tests ci-dessous

In [1]:
print(3 - 4 * 2)
print(3 * 4 - 2)
print(3 * 4 // 2)
print(4 // 2 * 3)

#à compléter

-5
10
6
6

## Type str

In [8]:
chaine = "bonjour"
type(chaine)

str

In [4]:
#exemples d'opérations:
print("bonjour" + " à tous")
print("bqnjqur".replace("q","o"))
print("bonjour "*3)

bonjour à tous
bonjour
bonjour bonjour bonjour

Le **+** réalise une concaténation, c'est à dire qu'il colle deux chaines de caractères pour en faire une plus longue. Par extension, étoile 3 réalise l'opération "bonjour " + "bonjour " + "bonjour " donc plusieurs concaténations.

## Type bool

In [9]:
booleen = True
type(booleen)

bool

Le type bool est très utile dans les conditions que nous étudierons plus tard. Nous utiliserons par exemple des expressions booléennes c'est à dire des expressions qui seront évaluées soit à **True** soit à **False**

In [12]:
#Exemples
print( 3 > 2 )
print( "c" < "a" )
print( 2 == 2.0 )
print( 3 >= 4 )
print( "a" <= "b") 
print( "bonjour" != "hello") #different

True
False
True
False
True
True

Attention pour l'ordre des chaines de caractères, les lettres majuscules et minuscules ne sont pas classées ensemble:

In [19]:
print("0" < "9")
print("9" < "A")
print("A" < "Z")
print("Z" < "a")
print("a" < "z")

True
True
True
True
True

On peut combiner des expressions booléennes avec les mots clés **and**, **or** et **not**.

## <span style="color: #00AA00">Exercice 4:</span>
Essayez de modifier la valeur de x pour tester tous les cas

In [22]:
x = 4
print((x > 6) and (x > 2))
print((x >= 4) or (x >= 2))
print( not (x == 3))

False
True
True

## Type list

In [10]:
liste = [1, 3, 3.14159, "bonjour", True]
type(liste)

list

Une liste en python peut contenir des éléments de différents types. On peut obtenir le nombre d'éléments de la liste avec la fonction **len** et appeler un élément de la liste avec la syntaxe **liste[i]** où i est un entier. Le premier élément de la liste répond à l'indice 0, on peut aussi appeler les éléments en partant de la fin de la liste avec des indices négatifs:

In [23]:
liste = [10, 20, 30, 40, 50, 60, 70, 80]
print(len(liste))
print(liste[0])
print(liste[1])
print(liste[-1])
print(liste[len(liste)-1])

10
20
80
8
80

On peut modifier un élément d'une liste comme on modifie la valeur d'une variable:

In [24]:
liste = [10, 20, 30, 40, 50, 60, 70, 80]
liste[2] = 90
print(liste)

[10, 20, 90, 40, 50, 60, 70, 80]

Les opérateurs + et * fonctionnent comme pour les chaines de caractères:

In [26]:
L1 = [0, 1] + [2, 3, 4]
print(L1)
L2 = [0, 1, 2] * 3
print(L2)

[0, 1, 2, 3, 4]
[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [29]:
L = [1,2,3]
L.append(4)
print(L)

[1, 2, 3, 4]

On peut aussi extraire des sous-listes à partir d'une liste grace aux slices:

In [28]:
L = [0,1,2,3,4,5,6,7,8,9]
print(L[1:3])
print(L[:3])
print(L[3:])
print(L[1:7:2])
print(L[::-1])

[1, 2]
[0, 1, 2]
[3, 4, 5, 6, 7, 8, 9]
[1, 3, 5]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]